@import "./components/form.scss";
@import "./components//textInput.scss";
@import "../../colors";

.orderSection {
  p {
    padding: 1rem;
    margin: 1rem;
    background: $secondary-light;
    text-align: center;

    @media (min-width: $tablet) {
      margin: 1rem auto;
      max-width: 768px;
      width: 100%;
    }
  }
}
