@import "colors";

nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  background: $secondary-dark;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin: 1rem 0;
  }

  a,
  h2 {
    color: $primary-light;
    margin: 0;
  }

  h2 {
    font-size: 1.25rem;
    text-transform: capitalize;
  }

  a {
    font-size: 1.125rem;
    text-decoration: none;
  }

  a:hover {
    color: $accent;
  }
}
